<!DOCTYPE html>
<html lang="en">



<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receipts</title>
  <link rel="stylesheet">
</head>

<body>
  <main>
    <h1>Receipts</h1>
      <table>
        <thead>
          <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
          {% for receipt in receiptlist %}
            <tr>
              <td>{{ receipt.vendor }}</td>
              <td>{{ receipt.total }}</td>
              <td>{{ receipt.tax }}</td>
              <td>{{ receipt.date|date:"m-d-Y" }}</td>
              <td>{{ receipt.category.name }}</td>
              <td>{{ receipt.account.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if user.is_authenticated %}
          <li class="nav-item">
              <a href="{% url 'logout' %}">Logout</a>
            </li>
      {% else %}
      <li class="nav-item">
          <a href="{% url 'signup' %}">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}
    </main>
  </body>
